.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
.sfdx/**
.sf/**
.prettierignore
.nvmrc
lib/**
coverage/**
jest.config.js
test/**
contributing/
node_modules/
!node_modules/@vscode/codicons
!node_modules/@salesforce/core
!node_modules/@salesforce/ts-types

